body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", monospace;
  color: #00ffcc;
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  max-width: 800px;
}

.title {
  font-size: 4rem;
  margin-bottom: 30px;
  text-shadow: 0 0 15px #00ffcc;
}

button {
  background: #111;
  color: #00ffcc;
  border: 2px solid #00ffcc;
  padding: 12px 28px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

button:hover {
  background: #00ffcc;
  color: black;
  box-shadow: 0 0 20px #00ffcc;
}

pre {
  margin-top: 30px;
  background: #000;
  border: 1px solid #00ffcc;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  height: 250px;
  overflow-y: auto;
  text-align: left;
  display: none;
}

